.informationBlog{
  @media screen and (max-width: $content-wight-l){
    .container{
      max-width: $content-wight-md;
    }
    &__images-arrow{
      display: none;
    }
    &__wrapper-text{
      p{
        margin-bottom: 30px;
      }
    }
    &__wrapper-button{
      p{
        margin: 0;
      }
    }
  }

  @media screen and (max-width: $content-wight-md){
    .container{
      max-width: $content-wight-s;
    }
   &__wrapper-text{
     padding-left: 34px;
     h2{
       font-size: 28px;
       padding-bottom: $size-text-md;
     }
     p{
       max-width: 423px;
       font-size: $size-small-title;
       margin-bottom: $size-text-menu;
     }
   }
    &__wrapper-button{
      p{
        margin: 0;
      }
      a{
        padding: 10px 16px;
      }
    }
    &__wrapper-content {
      padding-bottom: 65px;
    }
  }

  @media screen and (max-width: $content-wight-s){
    .container{
      max-width: $content-wight-xs;
    }
    .row{
      flex-direction: column;
    }
    &__wrapper-text{
      padding: 0;
      h2{
        font-size: 30px;
      }
      p{
        margin-bottom: $size-text-ml;
        max-width: 428px;
        font-size: $size-text-m;
      }
    }
    &__wrapper-images{
      padding-bottom: $size-text-ml;
      gap: 32px;
      justify-content: center;
    }
    &__wrapper-button{
      p{
        margin: 0;
      }
    }
    &__content{
      padding-left: 34px;
    }
  }

  @media screen and (max-width: $content-wight-xs){
    .container{
      max-width: 320px;
    }
    &__content{
      padding: 63px 35px 45px 35px;
    }
    &__wrapper-text{
      h2{
        font-size: 26px;
      }
      p{
        font-size: $size-text-menu;
      }
    }
  }
}