.partners{

  @include laptop(){
    .container{
      max-width: $content-wight-s;
    }

    &__wrapper-logo{
      gap: 15px;
    }
  }

  @include tablet(){
    .container{
      max-width: $content-wight-xs;
    }
    &__wrapper-logo{
      display: none;
    }
  }

  }



