.partners{
  @media  screen and (max-width:$content-wight-md ){
    .container{
      max-width: $content-wight-s;
    }

    &__wrapper-logo{
      gap: 15px;
    }
  }
  @media  screen and (max-width: $content-wight-s){
    .container{
      max-width: $content-wight-xs;
    }
    &__wrapper-logo{
      display: none;
    }
  }
}

