.banner{
  @include monitor(){
    .container{
      max-width: $content-wight-md;
    }
  }

  @include laptop(){
    .container{
      max-width: $content-wight-s;
    }
  }

  @include tablet(){
  .container{
    max-width: $content-wight-xs;
  }
  h1{
    font-size: 41px;
  }
  .banner__wrapper-round {
    padding-bottom: 65px;
  }
}

  @include mobile(){
  .container{
    max-width: 320px;
  }
  padding-top: 47px;
  h1{
    font-size: 22px;
  }
  p{
    max-width: 270px;
    font-size: 12px;
    padding-bottom: 32px;
  }
}

}


