$transition:0.3s;

$list-color:#697CA6;
$list-hover-color:#5E81FE;
$main-color:#8D96BD;
$title-color:#3D4F9F;
$dropdown-color:#444444;
$desktop-color:#F5F8FF;
$btn-color:#4C85FF;
$color-button-2:#ADB4D2;
$border-button:#D1D1E4;
$universal-color:#ffffff;


$size-text-menu:12px;
$size-text-button:13px;
$size-text-l:18px;
$size-text-ml:20px;
$size-text-md:15px;
$size-text-m:14px;
$size-text-xs:10px;
$size-main-title:48px;
$size-title-md:36px;
$size-title-m:24px;
$size-small-title:11px;

$fon-open-sans:"Open Sans",sans-serif;
$fon-quicksand:'Quicksand',sans-serif;
$fon-roboto:'Roboto',sans-serif;

$content-wight-l:1236px;
$content-wight-md:920px;
$content-wight-s:720px;
$content-wight-xs:540px;